html {
    font-family: sans-serif;
    background: AntiqueWhite;
    padding: 1rem;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 1rem 0;
    text-align: center;
}

a {
    color: CornflowerBlue;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: AntiqueWhite;
    padding: 0 0.5rem;
    border-radius: 25px;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
    background: white;
    border-radius: 25px;
}

.flash {
    text-align: center;
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}
