{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Quote{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if writers %}
        <b>{{texts}}</b> ------ <strong>{{writers}}</strong><br /> 
        <br /> 
        <center>Thank you for using our Webapp! To startover, click here:
          <form action="{{ url_for('upload') }}">
            <button class = "button" type="submit">Start Again!</button>
          </form>
          </center>
          <br><br><br>
          The quote above was scraped from one of the world's largest quotation website, 
          <a class = "name" href="https://www.brainyquote.com/">BrainyQuote.</a><br>
      {% endif %}

{% endblock %}