{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit a File{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="image">Please upload an image.</label><br>
      <input type="file" name="image" id="image">
      <input type="submit" value="Submit form">
  </form>

  {% if labels %}
    <br>
    Thanks for the image!  It looks like you feel {{labels}}
    
    {% if labels ==  "anger"%}
      &#128544
    {% endif %}
    {% if labels ==  "disgust"%}
      &#129314
    {% endif %}
    {% if labels ==  "fear"%}
      &#128561
    {% endif %}
    {% if labels ==  "happy"%}
      &#128513
    {% endif %}
    {% if labels ==  "neutral"%}
      &#128528
    {% endif %}
    {% if labels ==  "sadness"%}
      &#128546
    {% endif %}
    {% if labels ==  "surprise"%}
      &#128562
    {% endif %}
    .
    <br>
    <img src="{{ image }}" alt="User Image" style="width:300px;height:250px">
  {% endif %}

  {% if error %}
    <br>
    Oh no, we couldn't use that file!  Please upload an 8x8 numpy array as a text file.
  {% endif %}
{% endblock %}
