{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload an Image{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
      <label for="image">Please upload an image.</label><br>
      <input type="file" name="image" id="image">
      <input type="submit" value="Submit Image">
  </form>
  
  <br>
  Instuction:
  <ol>
    Just submit an image of a single person regardless of race, ethnicity, age, and sex!
  </ol>
  <br>
  Note:
  <ol>
    <li>
      For the better result, we would suggest that your face is clear front facing in the middle of the image with a plain background. Do not use filters commonly used on social media.
    </li><br>
    Example image:
    <br>
    <img src={{ url_for('static', filename='white.jpg') }}  style="width:200px;height:200px">
    <img src={{ url_for('static', filename='black.jpg') }}  style="width:200px;height:200px">
    <img src={{ url_for('static', filename='latino.jpg') }}  style="width:200px;height:200px">
    <img src={{ url_for('static', filename='asian.jpg') }}  style="width:200px;height:200px">
    <br>
    *Image downloaded from one of the best free AI face generated site.
    <a class = "name" href="https://generated.photos">Generated Photos</a><br><br><br>
    <li>
      If you don't have such photo described above, we still try to have your back as much as we can using our facial extraction feature!
    </li><br>
    Example:<br>
    The image you uploaded (left hand side) &nbsp&nbsp------>&nbsp&nbsp Your lovely face we extracted (right hand side)<br>
    <img src={{ url_for('static', filename='img.jpg') }} alt="Original Image" style="width:300px;height:250px">
    &nbsp&nbsp------>&nbsp&nbsp
    <img src={{ url_for('static', filename='face.jpg') }} alt="Facial Image captured" style="width:300px;height:250px">
    <br>
    *Image downloaded from
    <a class = "name" href="https://unsplash.com/s/photos/happy-face">here</a><br>
  </ol>

  {% if error %}
  <br>Oh no, we couldn't use that file!  Please upload an 8x8 numpy array as a text file.
  {% endif %}

{% endblock %}
